/* lINK TO GOOGLE_FONTS FONT */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* :root PSEUDO CLASS TO STORE BASIC STYLE VARIABLES */

:root {
    --clr-primary-200: hsl(0, 5%, 84%);
    --clr-primary-600: hsl(0, 4%, 22%);

    --clr-secondary-500: hsl(115, 63%, 59%);

    --ff-primary: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--ff-primary);
}

/* MAIN CONTAINER */

.container{
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: var(--clr-primary-200);
}

/* FILTER CONTAINER */

.filter-container {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--clr-primary-600);
    padding-block: 1rem;
}

.filter-container form{
    border: 1px solid var(--clr-primary-600);
    padding: 2rem;
    max-width: 100%;
    min-width: 50%;
}

.form-segment {
    margin-block: 0.5rem;
}

.form-segment select{
    width: 100%;
    outline: none;
    font-weight: 500;
    border: 1px solid var(--clr-primary-600);
    background-color: var(--clr-primary-200);
    padding: 0.5rem 0.2rem;
    margin-top: 0.5rem;
}

.form-segment label{
    font-weight: 600;
}

#filter {
    background-color: var(--clr-secondary-500);
    color: var(--clr-primary-600);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.5rem 0.2rem;
    max-width: 100%;
    min-width: 25%;
}

/* MAIN CONTAINER */



/* REVIEWS CONTAINER */

.reviews-container{
    flex-basis: 60%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--clr-primary-600);
    padding-block: 1rem;
}

table{
    padding: 0.2rem 0.2rem;
    color: var(--clr-primary-200);
    background-color: var(--clr-primary-600);
}



thead th{
    padding: 0.2rem 0.4rem;
}

tbody {
    background-color: var(--clr-primary-200);
    color: var(--clr-primary-600);
}

tbody tr td {
    padding: 0.2rem 0.1rem;
    font-size: 0.9rem;
}

/* REVIEWS CONTAINER */



/* MEDIA QUERIES FOR BASIC RESPONSIVE DESIGN */

@media only screen and (max-width: 1024px){
    .container {
        flex-direction: column;
    }

    .reviews-container {
        overflow-y: visible;
    }
}

@media only screen and (max-width: 600px){
    thead th{
        font-size: 0.6rem;
    }

    tbody tr td {
        font-size: 0.6rem;
    }
}

/* MEDIA QUERIES FOR BASIC RESPONSIVE DESIGN */